body{
    background-color: black;
}

.coupon-discount h1,
.cal-discount h1{
    padding-top: 10px;
}

.coupon-discount,
.cal-discount{
    background-color: aquamarine;
    width: 430px;
    padding-bottom: 10px;
    border-radius: 35px;
}

.titulo,
.indicacion,
.valores,
.coupon-title,
.coupons_indications,
.coupons-values{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#discount-coupon-button,
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton,
.discount-coupon-button{
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border-style: none;
    background-color: blue;
    color: white;
    font-weight: bolder;
}

input{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    border-style: none;

}

#discount-coupon,
#discount{
    margin-top: 10px;
    margin-bottom: 10px;
}

#pepe{
    color: yellow;
}